/* font-family: 'Saira', sans-serif;

font-family: 'Saira Condensed', sans-serif;
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    position: relative;
    overflow: hidden;
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    background-color: darkolivegreen;
}

header > * {
    position: absolute;
}

header img {
    height: 50%;
    bottom: 5%;
    right: 26.6px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 20px white;
}

header div.welcome {
    z-index: 1;
    top: 3%;
    left: 5%;
    right: 5%;

    font-family: 'Saira Condensed', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    margin-top: 10px;
    font-size: 20px;
}

header h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: -5px;
}

header h2 span {
    color: yellow;
}

header button {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 0 17px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid white;
}

@media (orientation: portrait) and (min-width: 360px) {
    header div.welcome {
        font-size: 52px;
        top: 3%;
    }

    header h1 {
        font-size: 28px;
    }

    header h2 {
        font-size: 28px;
    }

    header button {
        font-size: 16px;
        line-height: 40px;
    }

    header img {
        right: 20px;
    }
}

@media (orientation: portrait) and (min-width: 375px) and (min-height: 812px) {

    header div.welcome {
        top: 8%;
        font-size: 66px;
    }

    header h1 {
        font-size: 35px;
    }

    header h2 {
        font-size: 35px;
    }

    header button {
        font-size: 22px;
        line-height: 42px;
    }

    header img {
        height: 40%;
        right: 25px;
    }
}

@media (orientation: portrait) and (min-width: 411px) {
    header div.welcome {
        font-size: 60px;
    }

    header h1 {
        font-size: 34px;
    }

    header h2 {
        font-size: 34px;
    }

    header button {
        line-height: 42px;
        font-size: 20px;
    }

    header img {
        height: 40%;
        right: 55px;

    }
}

@media (orientation: portrait) and (min-width: 411px) and (min-height: 823px) {
    header div.welcome {
        top: 10%;
    }

    header img {
        right: 35px;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    header div.welcome {
        font-size: 90px;
    }

    header h1 {
        font-size: 45px;
    }

    header h2 {
        font-size: 45px;
    }

    header button {
        font-size: 28px;
        line-height: 52px;
    }

    header img {
        right: 22%;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    header div.welcome {
        font-size: 120px;
    }

    header h1 {
        font-size: 60px;
    }

    header h2 {
        font-size: 60px;
    }

    header button {
        font-size: 42px;
        line-height: 68px;
    }

    header img {
        right: 22%;
    }
}

@media (orientation: landscape) {
    header div.welcome {
        top: 15%;
        left: 5%;
        right: 60%;
    }

    header button {
        margin-top: 40px;
    }

    header img {
        height: 80%;
        bottom: 10%;
        right: 5%;
    }
}


@media (orientation: landscape) and (min-width: 640px) {
    header div.welcome {
        font-size: 52px;
    }

    header h1 {
        font-size: 24px;
    }

    header h2 {
        font-size: 24px;
    }

    header button {
        font-size: 15px;
        line-height: 40px;
    }
}

@media (orientation: landscape) and (min-width: 812px) {
    header div.welcome {
        top: 13%;
        left: 10%;
        right: 50%;
        font-size: 58px;
    }

    header h1 {
        font-size: 28px;
    }

    header h2 {
        font-size: 28px;
    }

    header button {
        font-size: 18px;
        line-height: 42px;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {

    header div.welcome {
        top: 25%;
        left: 3%;
        right: 60%;
        font-size: 80px;
    }

    header h1 {
        font-size: 40px;
    }

    header h2 {
        font-size: 40px;
    }

    header button {
        font-size: 26px;
        line-height: 52px;
    }

    header img {
        height: 65%;
        bottom: 134px;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {

    header div.welcome {
        top: 18%;
        left: 7%;
        right: 55%;
        text-align: left;
        font-size: 120px;
    }

    header h1 {
        font-size: 50px;
    }

    header h2 {
        font-size: 50px;
    }

    header button {
        border-width: 4px;
    }

}

@media (orientation: landscape) and (min-width: 1366px) {

    header div.welcome {
        top: 18%;
    }

    header button {
        font-size: 34px;
        line-height: 60px;
    }

    header img {
        bottom: 18%;
    }
}

@media (orientation: landscape) and (min-width: 1600px) {
    header div.welcome {
        top: 22%;
        font-size: 140px;
    }

    header h1 {
        font-size: 54px;
    }

    header h2 {
        font-size: 54px;
    }

    header button {
        line-height: 90px;
    }
}

@media (orientation: landscape) and (min-width: 1920px) {
    header div.welcome {
        left: 17%;
       
    }

    header img {
        right: 10%;
    }

}

@media (min-width: 1024px) {
    header button {
        transition: .3s;
    }

    header button:hover {
        cursor: pointer;
        background-color: #fff;
        color: #111;
    }
}

/*    Section 1 - our features */

section {
    min-height: 30vh;
}

.features {
    max-width: 1600px;
    margin: 50px auto 0;
    padding: 5%;
    text-align: center;
}

.features h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px
}

.features h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.features p {
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin: 20px 0;
}

.features img {
    width: 100%;
    margin: 5px 0;
    max-width: 375px;
}

@media (min-width: 360px) {
    .features h1 {
        font-size: 28px;
    }

    .features h2 {
        font-size: 24px;
    }

    .features p {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .features h1 {
        font-size: 36px;
    }

    .features h2 {
        font-size: 28px;
    }

    .features p {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .features {
        padding: 5% 2%;
    }

    .feature {
        float: left;
        width: 33%;
        padding: 20px;
    }

    .features h2 {
        font-size: 23px;
    }

    .features p {
        font-size: 18px;
        line-height: 140%;
        padding: 0 20px;
    }
}

@media (min-width: 1600px) {

    .feature {
        padding: 20px 40px;
    }

    .features h1 {
        font-size: 60px;
    }
    .features h2 {
        font-size: 30px;
    }
.features p {
        font-size: 21px;
        line-height: 150%;
        padding: 0 10px;
    }

}
